# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# Data
data/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/
